

/* Init Fonts*/
@font-face {
	font-family: Roboto-Regular;
	src: url(../../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto-Light;
	src: url(../../assets/fonts/Roboto-Light.ttf);
}
/* </.Init Fonts*/
/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto-Regular',sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*</.Reset*/


/* Color Pallete */
.text-white{
	color: #fff;
}
.text-black{
	color: #2C323E;
}
.text-gray{
	color: #DDE1EA;
}
.bg-blue{
	background-color: #206EFF;
}
/* </. Color Pallete */

/* Button */
/* </. Button */

/* Text */
/* </. Text */

/* Circle*/
.circle{
	position: relative;
	display: inline-block;
	min-width: 10px;
	min-height: 10px;
	border-radius: 10px;
	float: left;
	top: 2px;
}
/* </. Circle*/

/* Forms */
.form-search{
	outline: none;
	border: none;
	border-bottom: 1px solid #f4f6fc;
	position: relative;
	bottom: 5px;
	left: 5px;
	padding: 5px 10px 5px 10px;
	font-size: 16px;
}
.form-search::placeholder{
	color: #DDE1EA;
}
/* </. Forms */

/* ICON */
.icon{
	position: relative;
	display: inline-block;
	background-size: cover;
	width: 18px;
	height: 18px;
}
.icon-search{
	background-image: url('../img/search.svg');
}
.icon-wallet{
	background-image: url('../img/wallet.svg');
}
.icon-down{
	background-image: url('../img/down.svg');
}
/* </. ICON */

body{
	background-color: #F4F6FC;
}
/*1. Top Bar */
#top-bar{
	position: relative;
	width: 100%;
	min-height: 60px;
	background-color: #fff;
}

#top-bar .logo{
	width: 60px;
	height: 60px;
	float: left;
	border-right: 1px solid #F4F6FC;
}
.logo img{
	width: 35px;
	height: 50px;
	position: relative;
	top: 5px;
	left: 10px;
}
.search{
	position: relative;
	float: left;
	display: inline-block;
	top: 20px;
	left: 20px;	
}
#top-bar .menu-right{
	position: relative;
	float: right;
	display: inline-block;
	/*top: 20px;*/
	right: 20px;
	height: 60px;
}
#top-bar .money{
	position: relative;
	float: left;
	display: inline-block;
	margin-top: 20px;
}
.money .icon-wallet{
	float: left;
	bottom: 2px;
}
.money .idr,.money .btc{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
#top-bar .profile{
	position: relative;
	float: left;
	display: inline-block;
	border-left: 1px solid #F4F6FC;
	height: 60px;
} 
.profile .img-profile{
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	display: inline-block;
	background: #206eff;
	bottom: 6px;
	text-align: center;
	margin-top: 20px;
	margin-left: 10px;
	
}
.profile .name{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}
.img-profile span{
	position: relative;
	top: 7px;
	color: #fff;
}
.name a{
	text-decoration: none;
	color: inherit;
}
.profile .icon-down{
	background-size: 100%;
	background-repeat: no-repeat;
	float: right;
	width: 10px;
	height: 10px;
	top: 6px;
	margin-left: 10px;
}
/* </. Top Bar */


/*2. Left Bar*/
#left-bar{
	width: 60px;
	height: 614px;
	background-color: #fff;
	border-top: 1px solid #f4f6fc; 
}
/* <./ Left Bar*/
