

/* Init Fonts*/
@font-face {
	font-family: Roboto-Regular;
	src: url(http://putralab.com/Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto-Light;
	src: url(http://putralab.com/Roboto-Light.ttf);
}
/* </.Init Fonts*/
/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto-Regular',sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*</.Reset*/


/* Color Pallete */
.text-white{
	color: #fff;
}
.text-black{
	color: #2C323E;
}
.text-blue{
	color: #206EFF;
}
.text-gray{
	color: #DDE1EA;
}
.bg-blue{
	background-color: #206EFF;
}
.bg-orange{
	background-color: #ff9800;
}
/* </. Color Pallete */

/* Button */
button{
	cursor: pointer;
    padding: 5px 10px 5px 10px;
    border: none;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
}
button:focus{
	outline: none;
}
/* </. Button */

/* Text */
/* </. Text */

/*FORM*/
#login{
	text-align: center;
	width: 300px;
	top: 60px;
	position: relative;
	margin: 0 auto !important;
}

#login .logo img{
	width: 150px;
	height: 150px;
}
#login h1{
	font-weight: 800;
	font-size: 36px;
	margin-bottom: 30px;
}
.form-input input{
	width: 100%;
	border: none;
	outline: none;
	padding: 10px 0px 10px 0px;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: none;
	border-bottom: 1px solid #DDE1EA;
}
.form-input .button{
	width: 100%;
	padding: 10px 20px 10px 20px;
	border: none;
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
	margin-top: 30px;
	border-radius: 30px;
	outline: none;
}
#login p{
	font-size: 11px;
	margin-top: 5px;
	float: left;
	color: #888;
}
/*<./FORM*/

/* Circle*/
.circle{
	position: relative;
	display: inline-block;
	min-width: 10px;
	min-height: 10px;
	border-radius: 10px;
	float: left;
	top: 2px;
}
/* </. Circle*/

/* Forms */
.form-search{
	outline: none;
	border: none;
	border-bottom: 1px solid #f4f6fc;
	position: relative;
	bottom: 5px;
	left: 5px;
	padding: 5px 10px 5px 10px;
	font-size: 16px;
}
.form-search::placeholder{
	color: #DDE1EA;
}
/* </. Forms */

/* ICON */
.icon{
	position: relative;
	display: inline-block;
	background-size: cover;
	width: 18px;
	height: 18px;
}
.icon-search{
	background-image: url('http://putralab.com/search.svg');
}
.icon-wallet{
	background-image: url('http://putralab.com/wallet.svg');
}
.icon-down{
	background-image: url('http://putralab.com/down.svg');
}
/* </. ICON */

body{
	background-color: #F4F6FC;
}
/*1. Top Bar */
#top-bar{
	position: relative;
	width: 100%;
	min-height: 60px;
	background-color: #fff;
}

#top-bar .logo{
	width: 60px;
	height: 60px;
	float: left;
	border-right: 1px solid #F4F6FC;
}
.logo img{
	width: 35px;
	height: 50px;
	position: relative;
	top: 5px;
	left: 10px;
}
.search{
	position: relative;
	float: left;
	display: inline-block;
	top: 20px;
	left: 20px;	
}
#top-bar .menu-right{
	position: relative;
	float: right;
	display: inline-block;
	/*top: 20px;*/
	right: 20px;
	height: 60px;
}
#top-bar .money{
	position: relative;
	float: left;
	display: inline-block;
	margin-top: 20px;
}
.money .icon-wallet{
	float: left;
	bottom: 2px;
}
.money .idr,.money .btc{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.idr:after{
	content: 'IDR';
	display: block;
	float: right;
	margin-left: 5px;
}
.btc:after{
	content: 'BTC';
	display: block;
	float: right;
	margin-left: 5px;
}
#top-bar .profile{
	position: relative;
	float: left;
	display: inline-block;
	border-left: 1px solid #F4F6FC;
	height: 60px;
} 
.profile .img-profile{
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	display: inline-block;
	background: #206eff;
	bottom: 6px;
	text-align: center;
	margin-top: 20px;
	margin-left: 10px;
	
}
.profile .name{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}
.img-profile span{
	position: relative;
	top: 7px;
	color: #fff;
}
.name a{
	text-decoration: none;
	color: inherit;
}
.profile .icon-down{
	background-size: 100%;
	background-repeat: no-repeat;
	float: right;
	width: 10px;
	height: 10px;
	top: 6px;
	margin-left: 10px;
}
.logout{
	position: relative;
	float: left;
	top: 20px;
	margin-left: 10px;
}
.logout:hover{
	cursor: pointer;
}
.inventory{
	float: left;
	position: relative;
	top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-left: 160px;
}
.inventory a{
	text-decoration: none;
}
.sell-buy{
	float: left;
	position: relative;
	top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
.sell-buy a{
	text-decoration: none;
}
/* </. Top Bar */

/*2. reactTable*/
.ReactTable{
	border: none;
	margin-top: 50px;
	padding: 10px 70px 10px 60px;
}
.ReactTable .rt-thead .rt-th.-cursor-pointer, .ReactTable .rt-thead .rt-td.-cursor-pointer{
	border: none;
	margin-bottom: 30px;
	outline: none;
	padding-top: 15px;
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	padding-top: 15px;
}
.ReactTable .rt-thead.-header {
	-webkit-box-shadow:none;
	box-shadow: none;
}
.ReactTable .-pagination {
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 3px;
    top: 30px;
    position: relative;
     box-shadow: none); 
     border-top: none; 
}
/*<. reactTable*/


/*3. Box Transaction*/
#box-transaction{
	position: relative;
	width: 300px;
	background-color: #fff;
	border-radius: 5px;
	padding: 30px 50px 30px 50px;
	float: left;
	margin-left: 30px;
	margin-right: 30px;
	left: 17%;
	top: 60px;
}
#box-transaction h2{
	margin-bottom: 32px;
}
#box-transaction p{
	color: #000;
}
/*<./Box Transaction*/
